<div class="text-center px-5 mx-5"> 

<h1 style="color: white"> List of All Manageable Properties </h1>

<ul style="list-style-type: none;">
  <% @properties.each do |property|%>
    <li>
      <%= link_to property.address, property_path(property)%>
    </li>
  <% end %>
</ul>

<button><%= link_to "Add a new property", new_property_path %> </button>

</div>