<div class="container">
<%# <div class="d-flex flex-column justify-content-center"> %>
<h1 class="text-center" style="color: white"> Welcome to the PCA Property Management landing page </h1>

<br>

  <h2 class="text-center" style="color: white"> Who we are </h2>
    <p class="text-center px-5 mx-5" style="color: white"> 
      Here at PCA Property Management, we aim to provide a network for realty teams 
      to manage vacant properties. Currently we have a system in place where upon intitial inspection
      the realty team can write assessments of the properties condition. From there the realty team
      can assign jobs to our trusted team of licensed contractors. Take a look through our site to 
      find out more.
    </p>
</div>