<h1> Welcome to the Realtor Property Management landing page </h1>

<br>

<h2> Who we are </h2>
<label> 
Here at Realtor Property Management, we aim to provide a network for realty teams 
to manage vacant properties. Currently we have a system in place where upon intitial inspection
the realty team can write assessments of the properties condition. From there the realty team
can assign jobs to our trusted team of licensed contractors. Take a look through our site to 
find out more.
 </label>